.load-factory-tabs
  .pf-c-tab-content
    outline none

  .pf-c-tabs
    padding-bottom 0

.load-factory-wizard .pf-c-wizard__nav
  width 100%
  border none
  font-size large

  .pf-c-wizard__nav-link
    margin-left 8px

    & > svg
      margin-right 5px

    .wizard-icon
      position absolute
      left -56px
      top 3px

.load-factory-wizard .pf-c-wizard__toggle-list-item svg
  margin-right 3px
